“This exercise will cover how to:

- Handle null values

- Use 'iloc' for selecting data

- Transform categorical data into numerical format”**

In [ ]:

import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [6]:
data = {
        "Name":["John","Kate","Jupiter","Alex","Zsa"],
        "Age":[21,np.nan,22,20,np.nan],
        "Gender":["Male","Female","Male","Female","Female"]
}

df = pd.DataFrame(data)
print(df)

      Name   Age  Gender
0     John  21.0    Male
1     Kate   NaN  Female
2  Jupiter  22.0    Male
3     Alex  20.0  Female
4      Zsa   NaN  Female

In [12]:
df.isnull().sum()

Name      0
Age       2
Gender    0
dtype: int64

In [17]:
imputer = SimpleImputer(strategy="mean")
df["Age"] = imputer.fit_transform(df[["Age"]])
print(df)

      Name   Age  Gender
0     John  21.0    Male
1     Kate  21.0  Female
2  Jupiter  22.0    Male
3     Alex  20.0  Female
4      Zsa  21.0  Female

In [25]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]
print("FEAUTURES:\n",X)

FEAUTURES:
       Name   Age
0     John  21.0
1     Kate  21.0
2  Jupiter  22.0
3     Alex  20.0
4      Zsa  21.0

In [27]:
print("TARGET:\n",y)

TARGET:
 0      Male
1    Female
2      Male
3    Female
4    Female
Name: Gender, dtype: object

Use LabelEncoder to convert categorial into numerical
<br>
<span style="color: red; font-weight:700;">"from sklearn.preprocessing import LabelEncoder"</span>

In [29]:
encoder = LabelEncoder()

df["Gender"] = encoder.fit_transform(df["Gender"])
print(df)

      Name   Age  Gender
0     John  21.0       1
1     Kate  21.0       0
2  Jupiter  22.0       1
3     Alex  20.0       0
4      Zsa  21.0       0